body {
    position: relative;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    .matrix-admin-container { display: none !important; }
}

.matrix-admin-container {
    opacity: 0.25;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    border: 3px solid #fff;
    border-bottom-style: none;
    border-radius: 8px 8px 0 0;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 20px;
    overflow: hidden;
    display: none;
    transition: opacity 0.15s ease;
    
    &:hover {
        opacity: 1;
    }
    @media (min-width: 750px) {
        display: block;
    }
    
    &.active {
        opacity: 1;
    }

    &.active .matrix-admin-tab .admin-toggle svg {
        transform: rotateZ(180deg);
    }

    hr {
        height: 0;
        margin: 0.5em 0 1em 0;
        border-style: none;
        border-top: 1px solid rgba(0,0,0,0.75);
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    .matrix-admin-tab {
        box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.15);
        text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
        border-radius: 5px 5px 0 0;
        display: flex;
        padding: 6px 12px 5px 12px;
        background-color: #2f2f2f;
        font-size: 14px;
        justify-content: flex-end;

        svg {
            filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.25));
        }
        
        > div {
            display: flex;
            align-items: center;
        }

        .squiz-logo {
            margin-right: auto;
            padding-right: 20px;
        }
        .squiz-logo img {
            display: block;
            max-width: 100%;
            filter: drop-shadow(1px 1px 1px #111);
        }

        .asset-linked {
            color: #f39c12;
            padding-right: 0.75em;
            animation-name: glow;
            animation-duration: 1s;
            animation-iteration-count: 5;
            animation-direction: alternate;
        }
        .titlebar-icon {
            height: 15px;
        }
        .nocache a,
        .performance a,
        .difference a {
            font-size: inherit;
            line-height: 1;
            color: #fff;
            padding-right: 0.65em;
        }
        .nocache a:hover,
        .performance a:hover {
            background: transparent;
        }

        .asset-status {
            color: #ddd;
            font-size: 12px;
            text-shadow: none;
            margin-right: 10px;
            line-height: 1;
            background-color: #111;
            border-radius: 3px;
            padding: 5px 5px 5px 8px;
            box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.5),
                        inset 1px 0 0 0 rgba(0,0,0,0.25), 
                        inset 0 -1px 0 0 rgba(255,255,255,0.15), 
                        inset -1px 0 0 0 rgba(255,255,255,0.1);
        }
        .asset-status .status-box {
            margin-left: 8px;
            padding: 5px 8px;
            color: #000;
            border-radius: 2px;
        }
        .admin-toggle svg {
            color: #fff;
            cursor: pointer;
            transform: rotateZ(0);
            transition: all 0.1s ease;
        }
    }

    .matrix-admin-content {
        display: none;
        color: #ccc;
        padding: 0 10px 10px 10px;
        font-size: 0.85em;
        background-color: #2f2f2f;
        max-width: 500px;

        a {
            color: #54b2e0;
            transition: all 0.15s ease;
        }
        a:hover {
            color: #a0e0ff;
        }
        
        p {
            margin: 0.3em 0;
        }
        b {
            color: #eee;
            margin: 0 5px;
        }
        .inset {
            background: url('./?a=1439580') repeat 0 0 #111;
            border-radius: 5px;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
            padding: 1em;
            box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.5), 
                        inset 1px 0 0 0 rgba(0,0,0,0.25), 
                        inset 0 -1px 0 0 rgba(255,255,255,0.15), 
                        inset -1px 0 0 0 rgba(255,255,255,0.1), 
                        inset 0 0 10px 0 rgba(0,0,0,0.25);
        }
        .status {
            width: 12px;
            height: 12px;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 2px;
            display: inline-block;
            margin-right: 5px;
        }
        .admin-button {
            position: relative;
            color: #fff;
            margin-left: auto;
            display: flex;
            align-items: center;
            padding: 5px 8px;
            line-height: 1;
            font-size: 0.75em;
            font-weight: normal;
            text-decoration: none;
            border-radius: 3px;
            background-color: #666;
            /*border: 1px solid #777;*/
            border-style: none;
            transition: all 0.15s ease;
            
            &:active {
                top: 1px;    
            }
            &:hover {
                color: #fff;
                background-color: #777;
                /*border: 1px solid #888;*/
            }
            
            svg {
                margin-right: 5px;
                height: 14px;
            }
            i {
                margin-right: 5px;
            }
            &.logout:hover { 
                background-color: rgba(255,0,0,0.75);
                /*border: 1px solid #e00;*/
            }
            &.admin {
                margin-left: 0.5em;
            }
            &.admin:hover {
                background-color: #20bf6b;
                /*border: 1px solid #26de81;*/
            }
            &.edit:hover {
                background-color: #2d98da;
                /*border: 1px solid #45aaf2;*/
            }
            &.ms-metadata:hover {
                background-color: #3867d6;
                /*border: 1px solid #4b7bec;*/
            }
        }
        .button-panel {
            display: flex;
            align-self: flex-end;
            margin-left: auto;
        }
        .button-panel a {
            margin: 0;
        }

        
        h3 {
            color: #fff;
            display: flex;
            align-items: center;
            font-size: 17px;
            margin-top: 0;
            margin-bottom: 0.5em;
        
            > i {
                font-size: 1.5em;
                margin-right: 0.35em;
                color: #b3b3b3;
                /*color: #54b2e0;*/
            }
            .header-icon {
                height: 28px;
                margin-right: 0.35em;
                color: #b3b3b3;
            }
        }

        .white {
            color: #fff;
        }

        .matrix-admin-metadata {
            display: none;
        }
        .matrix-admin-metadata pre {
            max-height: 250px;
            overflow-y: auto;
            background-color: rgba(255,255,255,0.05);
            border-top: 1px solid rgba(255,255,255,0.1);
            border-bottom: 1px solid rgba(255,255,255,0.1);
            padding: 10px;
            white-space: pre-wrap;
            margin: 0;
        }
        
        .matrix-admin-warning {
            color: #000;
            background-color: #f39c12;
            text-shadow: none;
            padding: 5px 10px;
            border-radius: 3px;
            margin: 1em 0 0 0;
            display: flex;
        }
        .matrix-admin-warning svg {
            height: 16px;
        }
        .matrix-admin-warning b {
            color: inherit;
        }
    }
}

@keyframes glow {
    from { color: #f39c12; }
    to { color: #f1c40f }
}

@media print {
    .matrix-admin-container {
        display: none;
    }
}

del, ins {
    display: inline-block;
    background: none;
    
}

del *,
del * * {
    padding: 0.25em 0.5em;
    background-color: rgba(255, 0, 0, 0.20);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 1px;
}
ins *,
ins * * {
    padding: 0.25em 0.5em;
    background-color: rgba(0, 255, 0, 0.20);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 1px;
}